@import "variables";
@import "katex_custom.css";


:root {
  --ck-spacing-standard: 0;

  --ck-focus-ring: 1px solid transparent;
  --ck-inner-shadow: none;

  --ck-widget-outline-thickness: 0;

  --ck-icon-size: 24px;

  --ck-ui-component-min-height: 40px;
  --ck-ui-component-max-height: 40px;

  --ck-color-block-toolbar-button: #000;
  --ck-color-button-default-background: #fff;
  --ck-color-button-default-hover-background: #fff;
  --ck-color-button-default-active-background: darken(#fff, 2%);
  --ck-color-button-on-background: #fff;
  --ck-color-button-on-hover-background: #fff;
  --ck-color-button-on-active-background: #fff;
  --ck-color-button-on-active-shadow: transparent;

  --ck-color-button-default-shadow: 0 3px 7px rgba(43,43,43,.1);

  --ck-color-toolbar-background: #fff;
  --ck-color-base-foreground: #fff;
}

.ck.ck-content {
  font-size: 19px;

  p, h2, h3,
  h4, blockquote,
  ol, ul, .media, .table,
  .ck-widget {
    max-width: 870px;

    @include media-xl {
      max-width: 643px;
    }
    @include media-lg {
      max-width: 470px;
    }
    @include media-md {
      max-width: 530px;
    }
  }

  .ck-widget {
    margin: 0 auto 20px;
  }

  p {
    margin: 0 auto 20px;
  }

  h2 {
    font-size: 30px;
    margin: 24px auto;
  }

  h3 {
    font-size: 24px;
    margin: 20px auto;
  }

  h4 {
    font-size: 17px;
    margin: 14px auto;
  }

  blockquote {
    position: relative;
    max-width: 870px;
    font-size: 19px;
    margin: 45px auto;
    overflow: visible;
    border-left: none;
    padding-left: 0;
    padding-right: 0;

    &:before, &:after {
      content: '';
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIiBmaWxsPSJub25lIj48cGF0aCBvcGFjaXR5PSIwLjc1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjE0MjkgMFY3LjE2NDE4QzkuNTc5MDEgNy4xNjQxOCA2LjgyNDEzIDcuMjk5OTUgNi44MjM5OCAxMy44NDA1VjE2LjU2NzJIMTIuODU3MVYzMEgwVjE2LjU2NzJWMTMuODQwNUMwIDguNjk4MzEgMS4yNzM3MiA0Ljg3OTcgNC4wNTY1NCAyLjQ5MDU3QzUuOTgxNTkgMC44Mzc5MzEgOC4yNjIyIDAgMTEuMTQyOSAwWk0yOC4yODU3IDBWNy4xNjQxOEMyNi43MjE5IDcuMTY0MTggMjMuOTY3IDcuMjk5OTUgMjMuOTY2OCAxMy44NDA1VjE2LjU2NzJIMzBWMzBIMTcuMTQyOVYxNi41NjcyVjEzLjg0MDVDMTcuMTQyOSA4LjY5ODMxIDE4LjQxNjYgNC44Nzk3IDIxLjE5OTQgMi40OTA1N0MyMy4xMjQ0IDAuODM3OTMxIDI1LjQwNTEgMCAyOC4yODU3IDBaIiBmaWxsPSIjQzFDNENCIi8+PC9zdmc+);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    &:before {
      top: -5px;
      left: -45px;
    }

    &:after {
      bottom: -5px;
      right: -45px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  ol, ul {
    margin: 19px auto;
  }

  .image > figcaption {background-color: unset;}
}

.ck {
  &.ck-button {
    box-shadow: 0 3px 7px var(--ck-color-button-default-shadow);
    cursor: pointer;

    &.ck-on {
      .ck.ck-icon :not([fill]) {
        color: #3366ff;
      }
    }

    &:active {
      box-shadow: 0 3px 7px var(--ck-color-button-default-shadow);
    }
  }
  &.ck-block-toolbar-button {
    border: 1px solid #dee2e6;
    border-radius: 50% !important;
    transform: translateX(calc(50vw - var(--ck-spacing-large) - 870px / 2));
    box-shadow: 0 3px 7px rgba(43,43,43,.1);

    svg {
      transition: 300ms transform;
    }

    @include media-xl {
      transform: translateX(calc(50vw - var(--ck-spacing-large) - 643px / 2));
    }
    @include media-lg {
      transform: translateX(calc(50vw - var(--ck-spacing-large) - 470px / 2));
    }
    @include media-md {
      transform: translateX(calc(50vw - var(--ck-spacing-large) - 530px / 2));
    }
    @include media-sm {
      transform: unset;
    }

    &.ck-on {
      svg {
        transform: rotate(45deg) scale(1.1);
      }
    }

    &:hover {
      .ck.ck-icon :not([fill]) {
        color: #3366ff;
      }
    }

    &:active {
      border: 1px solid #dee2e6;
    }
  }
  &.ck-toolbar-circular {
    box-shadow: none;
    border: none;
    background: none;

    &.ck-balloon-panel_arrow_n {
      transform: translate(152px,-54px);
    }
    &.ck-balloon-panel_arrow_s {
      transform: translate(152px, 54px);
    }

    .ck-toolbar_floating {
      background: none;
    }

    .ck-toolbar__items {
      > * {
        margin-right: 10px;
      }

      & > .ck-button, & > * > .ck-button {
        display: inline-block;
        width: 40px; height: 40px;
        box-shadow: 0 3px 7px rgba(43,43,43,.1);
        border: 1px solid #dee2e6;
        border-radius: 50%!important;

        &:active {
          background: #fff;
          box-shadow: inset 0 2px 2px var(--ck-color-button-default-active-shadow);
        }
      }
    }
    &.ck-toolbar {
      border-radius: 10px;
      overflow: hidden;
    }

    .ck-dropdown__arrow {
      display: none;
    }

    .ck-dropdown__panel {
      border: none;
      border-radius: 10px!important;
      padding: 5px;
      transform: translateY(8px);

      input { border: none!important; }
      .ck-labeled-input__status { display: none; }
    }

    &:before, &:after {
      content: none!important;
    }
  }

  &.ck-balloon-panel {
    &, .ck.ck-toolbar {
      border-radius: 8px!important;
    }
  }

  .media {
    margin: 16px auto;

    &[data-embed-type="youtube"] {
      > div {
        position: relative;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0; left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  figure.table {
    display: block;
    max-width: 870px;
    padding: 24px 0 0;
    margin-top: 0;
    overflow-x: scroll;

    table {
      max-width: 100%;
    }

    @include media-xl { max-width: 644px; }
    @include media-lg { max-width: 470px; }
    @include media-md { max-width: 530px; }
    @include media-sm {
      max-width: 100%;

      table {
        display: inline-table;
        margin-left: 15px;
        margin-right: 15px;
      }

      .ck-widget__selection-handle {
        left: 15px !important;
      }
    }

    &::-webkit-scrollbar {
      height: 13px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #DEE2E6;
      border-radius: 2px;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
    }
  }

  &-media__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;

    .instagram-media,
    .instagram-media-registered,
    .twitter-tweet {
      &:after, &:before {
        content: none !important;
      }
    }

    .twitter-tweet {
      max-width: 500px !important;
    }

    > div[style*="height: 0"] {
      width: 100%;
    }
  }

  .ck-placeholder {
    &:not(p):not(figcaption):before {
      content: none;
    }

    &:not(figcaption):before {
      display: inline-block;
      width: 0;
      white-space: nowrap;
      visibility: visible;
    }
  }

  figure {

    &.fullsize-image {
      width: 100%;
      max-width: unset;

      img { width: 100%; }
    }

    &.containersize-image {
      width: 100%;
      max-width: 1310px;
      // @media (max-width: 960px) {
      //   width: calc(100% - 15px);
      // }

      img { width: 100%; }

      @include media-xl { max-width: 970px; }
      @include media-lg { max-width: 710px; }
      @include media-md { max-width: 530px; }
      @include media-sm { max-width: 100%; }
    }

    &.gridsize-image {
      max-width: 870px;
      img { width: 100%; }
    }
  }
}
.modal-overlay {
  display: none!important;
  background: rgba(#F7F8F9, .9) !important;
  mix-blend-mode: normal;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &--visible {
    display: inline-block !important;
  }
}
.custom-modal {
  background: #FFFFFF !important;
  box-shadow: 1px 3px 7px rgba(43, 43, 43, 0.2);
  border-radius: 15px!important;
  max-width: 1090px;
  // height: 510px;
  overflow: hidden;
  width: calc(100% - 30px) !important;
  padding: 23px 30px 35px !important;
  position: absolute !important;
  top: 50%; left: 50% !important;
  transform: translate(-50%, -50%) !important;
  @include media-md {
    height: 100vh;
    border-radius: 0;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    color: #2B2B2B;
    margin: 0 0 30px;
    padding-right: 40px;
    b {
      color: #3365ff;
    }
    @include media-sm {
      font-size: 20px;
    }
  }

  form {
    width: 100%!important;
  }

  form > div {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    outline: none!important;

    textarea {
      width: 100%!important;
      min-height: 30vh!important;
      color: #565A60!important;
      font: 17px/1.15 'Open Sans', sans-serif !important;
      background: #F7F8F9!important;
      border: 3px solid rgba(51,102,255,0.10)!important;
      border-radius: 15px!important;
      padding: 21px 23px!important;
      resize: none;
    }

    & + button {
      position: absolute !important;
      min-width: 30px!important;
      min-height: 30px!important;
      top: 25px; right: 25px;
      background-color: #ECF0F3!important;
      border-radius: 50%!important;

      svg {
        width: 16px!important;
        height: 16px!important;
      }
    }
  }

  .tex-label {
    font: 700 25px/1.36 'Open Sans', sans-serif;
    margin: 0 0 23px;
  }

  .tex-output {
    font: 17px/1.15 'Open Sans', sans-serif;
    border: 3px solid rgba(51,102,255,0.10);
    border-radius: 15px;
    color: #565A60;
    background: #F7F8F9;
    padding: 21px 23px;
    min-height: 25vh!important;
  }

  .tex-button {
    &--preview {
      border: 1px solid #DEE2E6!important;
      font: 600 13px/1.38 'Open Sans', sans-serif !important;
      border-radius: 7px!important;
      padding: 6px 10px!important;
      margin: 12px 0 0!important;
      color: #565A60!important;
      align-self: flex-end;
      min-height: unset!important;

      span { line-height: 1.38!important; }
    }

    &--save {
      background-color: #5B45DC!important;
      align-self: center;
      border-radius: 7px!important;
      color: #ffffff!important;
      padding: 10px 20px!important;
      margin: 40px 0 0 !important;

      span { opacity: 1!important; }

      .ck-button__label {
        font: 600 17px/1.38 'Open Sans', sans-serif !important;
        line-height: 1!important;
      }

      &.ck-disabled {
        opacity: .35!important;
      }
    }
  }
}
